@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<div class="container" id="create-task">
    <div class="row">
        <label class="col-md-2">Name:</label> <input class="col-md-2" type="text" name="name" value="" data-bind="value: name" />
        <label class="col-md-2">Due Date:</label> <input class="col-md-2" type="text" name="name" value="" data-bind="value: dueDate" />
    </div>
    <div class="row">
        <label class="col-md-2">Instructions:</label> <input class="col-md-10" type="text" name="name" value="" data-bind="value: instructions" />
    </div>
    <div class="row">
        <div class="btn btn-default" data-bind="click: createTask">Create Task</div>
    </div>

    <div class="col-lg-6">
        <h2>Tasks</h2>
        <div class="container" data-bind="foreach: tasks">
            <div class="row" data-bind=" click: $parent.getTask">
                <div class="task col-lg-8"><span class="task-name" data-bind="text: name"></span></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" data-bind="visible: currentTask().name !== undefined">
        <div class=" row">
            <span class=" task-label col-lg-3">
                Name:
            </span> <span class="col-lg-9" data-bind="text: currentTask().name"></span>
            <span class="task-label col-lg-3">Due Date:</span> <span class="col-lg-9" data-bind="text: currentTask().dueDate"></span>
            <span class="task-label col-lg-3">Instructions:</span> <span class="col-lg-9" data-bind="text: currentTask().instructions"></span>
        </div>
        <div class="row">
            <select data-bind="options: teamMembers, optionsText: function(item){return item.Name;}, value: selectedMember"></select> <span class="glyphicon glyphicon-plus btn btn-success" data-bind="click: assignMember"></span>
        </div>
        <div class="row" data-bind="foreach: currentTask().assignedMembers">
            <div data-bind="text: Name"></div>
        </div>
    </div>
</div>

@section Scripts{
<script src="../../Scripts/app/createtasks.viewmodel.js"></script>
}
